.offer {
    padding-bottom: 50px;

    h2 {
        margin-bottom: 50px;
        font-weight: 400;
    }

    &__inner {
        display: flex;
        gap: var(--gap);
        padding: 30px 30px 50px;
        &--info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--text {
            font-size: 26px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}