.offer{
    padding-top: 130px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: 0;
    &__wrapper{
        width: 100%;
        padding: 20px 30px 60px;
        @include glass;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        margin-top: 40px;
        
        h2{
        margin-bottom: 35px;
        }
        ul{
            list-style: inside;
            li{
                display: block;
                padding-left: 15px;
                position: relative;
                margin-bottom: 10px;

                &::before{
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    left: 0;
                    top: 50%;
                    background-color: var(--text);
                    transform: translateY(-50%);
                }
            }
        }
        a{
            color: var(--black);
            @include btn;
            background-color: var(--accent);
            margin-top: 35px;
        }
    }
    
    &__img{
        @include image;
        width: max-content;
    }
}