.price {
    &__inner {
        padding: 50px 30px;

        .tabs {
            position: relative;
            margin: 0 auto;
        }

        .tabs__nav {
            width: 100%;
            display: flex;
            justify-content: end;
            right: 100px;
            top: 0;
        }

        .tabs__nav-item {
            position: absolute;
            padding: 10px;
            text-align: center;
            margin-top: 15px;
        }
        .tabs__nav-item:nth-child(1){
            right: 403px;
            padding: 10px;
            text-align: center;
        }
        .tabs__nav-item:nth-child(2){
            right: 280px;
            padding: 10px;
            text-align: center;
        }
        .tabs__nav-item:nth-child(3){
            right: 160px;
            padding: 10px;
            text-align: center;
        }

        .tabs__nav-btn:focus {
            // background-color: rgb(126, 196, 196);
            // color: #fff;
        }

        .tabs__nav-btn.tabs__nav-btn--active {
            
        }
        .tabs__panel {
            max-width: 100%;
            height: 610px;
            padding: 30px;
            display: none;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center right;
        }

        .tabs__panel.tabs__panel--active {
            display: block;
        }
    }

}