.header {
    position: absolute;
    padding: 32px 0;
    width: 100%;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 18px;

        a {
            margin-right: 8px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 0%;
            letter-spacing: 0.98px;
            color: var(--light-text);
            transition: all 0.3s;
        }

        a:hover {
            color: var(--text);
        }

        &--logo {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 20px;
        }

        &--btn {
            @include btn;
            background: var(--main-accent);
            color: var(--text) !important;
        }
    }
}