@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Regular.woff2") format("woff2"), url("../fonts/InterTight-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Thin.woff2") format("woff2"), url("../fonts/InterTight-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-SemiBold.woff2") format("woff2"), url("../fonts/InterTight-SemiBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Bold.woff2") format("woff2"), url("../fonts/InterTight-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Light.woff2") format("woff2"), url("../fonts/InterTight-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
